body {
    margin: 0 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.post h3{
    font-weight: 900;
}

.name{
    font-style: italic;
}

th{
    text-transform: uppercase;
    font-weight: 900;
}

.links{
    color: #00f;
}

.links:visited{
    color: #005;
}

.links:hover{
    text-decoration: none;
}

#skills li{
    list-style-type: square;
}